*{
    margin: 0;
    padding: 0;
}
/*
   ***Common CSS
    .btn,
     h2,
     p,

----common css for news & stories
    .content,
    .content img,
    .content span,

*/
.btn{
    padding: 15px 28px;
    background: #FF5959;
    border-radius: 5px;
    border: none;
    font-family: 'Inter';
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 30px;
    cursor: pointer;
}

h2{
    font-family: 'Inter';
    font-size: 35px;
    color: #121212;
}

p{
    font-family: 'Poppins';
    font-size: 15px;
    margin-top: 15px;
    text-align: center;
    color: #707070;
}




/* -----heading part start----- */
.heading{
    background-image: url(images/donation01.png);
    height: 669px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.heading h1{
    font-family: 'Inter', sans-serif;
    font-size: 55px;
    color: #fff;
    padding-top: 170px;
}
.heading p{
    width: 44%;
    color: #FFF;
    margin-left: 28%;
}

/* -----heading part end here----- */


/* -----donate today start----- */
.donate_today{
    text-align: center;
    margin-top: 130px;
}
.donate_today p{
    width: 40%;
    margin-left: 30%;
}
.do_amount{
    display: flex;
    justify-content: space-evenly;
    margin-top: 95px;
    width: 60%;
    margin-left: 20%;
}
.do_amount h3{
    font-family: 'Inter';
    font-size: 18px;
    color: #565656;
}
.do_amount .click_amount{
    width: 116px;
    height: 65px;
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    text-align: center;
    padding-top: 45px;
    margin-top: -50px;
    color: #FF5959;
}
.donate_today input{
    margin-top: 60px;
    width: 60%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    text-align: center;
    border-bottom: 1px solid #989898;
    padding: 13px;
    font-size: 15px;
}
/* -----donate today end here----- */


/* -----donate plan start----- */
.donate_plan{
    margin-top: 130px;
}
.donate_plan h2{
    text-align: center;
}
#donate_ptext{
    width: 40%;
    margin-left: 30%;
}
.all_fecilities{
    display: flex;
    justify-content: space-evenly;
}
.fecilities{
    width: 330px;
    height: 332px;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    margin-top: 50px;
}
.fecilities img{
    margin-top: 35px;
    margin-left: 20px;
}
.fecilities h4{
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}
.fecilities p{
    text-align: left;
    margin-left: 20px;
    margin-right: 25px;

}
#one{
    background-color: rgba(79, 157, 166, 0.1);
}
#three{
    background-color: #FFF4D6;
}
/* -----donate plan end here----- */


/* -----How to Contribute? start----- */
.contribute{
    margin-top: 130px;
}
.contribute_sylhet{
    display: flex;
}
.contribute_left{
    width: 43%;
    margin-left: 7%;
    margin-top: 30px;
}
.contribute_right{
    width: 50%;
}
.contribute_sylhet img{
    width: 456px;
    height: 370px;
}
.contribute_sylhet p{
    text-align: left;
}
/* -----How to Contribute? end here----- */


/* -----get update start----- */
.get_update{
    margin-top: 130px;
}
.get_update h2{
    text-align: center;
}
.get_update p{
    width: 40%;
    margin-left: 30%;
}
.subscrib{
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    height: 160px;
    background-color: #FFF4D6;
    text-align: center;
}
.subscrib input{
    width: 330px;
    height: 40px;
    background-color:#D9D9D9;
    outline: none;
    border: none;
    border-radius: 5px 0 0 5px;
    padding-left: 15px;
    margin-top: 60px;
}
.sub_btn{
    padding: 12px 28px;
    background: #FF5959;
    border-radius: 0 5px 5px 0;
    border: none;
    font-family: 'Inter';
    font-size: 13px;
    color: #FFFFFF;
    cursor: pointer;
}
/* -----get update end here----- */


/* -----news start----- */
.flood_news{
    margin-top: 130px;
}
.flood_news h2{
    text-align: center;
    color: #FF5959;
}
.news{
    display: flex;
    justify-content: space-evenly;

}
/*
  common css news & stories
*/
.content{
    width: 400px;
    height: 390px;
    margin-top: 40px;
}
.content img{
    height: 270px;
    width: 390px;
    margin-bottom: 10px;
}
.content span{
    font-family: 'Poppins';
    font-size: 18px;
}
/* -----news end here----- */


/* -----stories start----- */
.flood_stories{
    margin-top: 30px;
    height: 600px;
    background-color: #EEECE1;
}
.flood_stories h2{
    text-align: center;
    color: #FF5959;
    padding-top: 60px;
}
.stories{
    display: flex;
    justify-content: space-evenly;
}
/* -----stories end here----- */


/* -----footer start----- */
footer{
    margin-top: 65px;
    height: 120px;
    background: #0B0D17;
    padding-top: 40px;
}
footer h2{
    font-family: 'Lobster', cursive;
    color: #FF5959;
    font-size: 30px;
    text-align: center;

}
footer p{
    color: #D9DBE1;
}
/* -----footer end here----- */